@value makerGray,makerYellow, makerLightGreen, makerWhite, makerLightGray, makerLightYellow, makerDarkGray from "./common/colors.css";
@value MavenPro_Medium, Yoon_Gothic_740, Yoon_Gothic_780, Yoon_Gothic_750 from "./common/fonts.css";

.section3 {
	background-color: makerLightGray;
	margin-left: 8%;
	margin-top: 1%;
	display: flex;
	border-radius: 15px;
	box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(151, 151, 151, 0.2);
	width: 94%;
	height: 22%;
	/* border: 1px solid; */
}
.section3__folderImage {
	/* border: 1px solid; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 1%;
	height: 100%;
	width: 15%;
}
.section3__folderImage form {
	display: flex;
	justify-content: center;
	margin-bottom: -5%;
}
.section3__folderImage input:nth-child(1) {
	width: 50%;
}
.section3__folderImage input:nth-child(2) {
	width: 28%;
	cursor: pointer;
}

.section3__folderImage div {
	font-family: Yoon_Gothic_780;
	font-size: 0.8rem;
}
.section3__description {
	position: relative;
	top: 2.5rem;
	left: 3rem;
}
.section3__description__text {
	width: 35rem;
	font-size: 0.8rem;
}
.section3__description__text:nth-child(3) {
	height: 2rem;
}
.section3__description__text div:nth-child(1) {
	font-family: Yoon_Gothic_750;
	width: 9rem;
	height: 1rem;
	margin-top: -0.8rem;
}
.section3__description__text span:nth-child(2) {
	margin-left: 2%;
	margin-right: 1%;
	position: relative;
	left: 7rem;
	top: -1rem;
}

.section3__button__imgBorder {
	position: relative;
	top: 2rem;
	left: 6rem;
	border: 10px solid #e6e6e6;
	border-radius: 100px;
	padding: 1rem;
	height: 4.5rem;
	cursor: pointer;
}
