@value makerWhite,makerLightGray, makerGray from "./common/colors.css";
.container {
	width: 65.5rem;
	height: 33rem;
	overflow-y: scroll;
	position: relative;
	left: 3.25rem;
	top: 1rem;
}
/* .container::-webkit-scrollbar-track {
	background-color: makerGray;
}
.container::-webkit-scrollbar-thumb {
	background-color: makerLightGray;
	background-clip: padding-box;
	border: 0.1px solid black;
}
.container::-webkit-scrollbar-button {
	border: 1px solid;
	height: 1rem;
}
.container::-webkit-scrollbar-button:vertical:decrement {
	background: url("../public/image/caret-up-solid.svg") no-repeat center 10%;
}
.container::-webkit-scrollbar-button:vertical:increment {
	background: url("../public/image/caret-down-solid.svg") no-repeat center 10%;
}
.container::-webkit-scrollbar {
	width: 1rem;
} */
