@value makerGray,makerYellow, makerLightGreen, makerWhite, makerLightGray, makerLightYellow, makerDarkGray from "./common/colors.css";
@value MavenPro_Medium, Yoon_Gothic_740, Yoon_Gothic_780, Yoon_Gothic_750 from "./common/fonts.css";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto 0;
	height: 100%;
	padding-top: 3.2rem;
	flex: 1;
}

.header {
	display: flex;
	align-items: center;
	width: 57.8rem;
	justify-content: space-between;
}

.header__left {
	display: flex;
	align-items: flex-end;
}

.header__title {
	font-family: MavenPro_Medium;
	font-size: 1.75rem;
}

.header__sort {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.header__sort div {
	font-family: Yoon_Gothic_740;
	color: #6b6b72;
	font-size: 0.75rem;
}

.header__sort div:not(:nth-child(2)) {
	cursor: pointer;
}

.main {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.5rem;
	padding-left: 1rem;
	width: 100%;
	height: 100%;
	padding-bottom : 2rem;
}

.icon {
	width: 1.5rem;
	cursor: pointer;
	margin-top: 1rem;
}
/* .main::-webkit-scrollbar-track {
	background-color: makerGray;
}
.main::-webkit-scrollbar-thumb {
	background-color: makerLightGray;
	background-clip: padding-box;
	border: 0.1px solid black;
}
.main::-webkit-scrollbar-button {
	border: 1px solid;
	height: 1rem;
}
.main::-webkit-scrollbar-button:vertical:decrement {
	background: url("../public/image/caret-up-solid.svg") no-repeat center 10%;
}
.main::-webkit-scrollbar-button:vertical:increment {
	background: url("../public/image/caret-down-solid.svg") no-repeat center 10%;
}
.main::-webkit-scrollbar {
	width: 1rem;
} */
