@value makerGreen, makerWhite, makerBlack, makerDarkRed from '../styles/common/colors.css';
@value Yoon_Gothic_740, Yoon_Gothic_750, Yoon_Gothic_770, MavenPro_Medium from '../styles/common/fonts.css';
.container {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	background-color: makerGreen;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	margin-top: 0.5rem;
	border-top: 0.1rem solid makerWhite;
}
.container__login {
	height: 100%;
	width: 53%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: makerGreen;
	transition: 0.5s;
	border-top-left-radius: 10%;
	margin-top: 0.5rem;
	border-top: 0.1rem solid makerWhite;
	border-left: 0.1rem solid makerWhite;
}
.close {
	display: flex;
	justify-content: flex-end;
	color: makerWhite;
	margin-right: 20px;
	margin-top: 10px;
	font-family: MavenPro_Medium;
	cursor: pointer;
	transition: 0.3s;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	color: makerWhite;
	transition: 0.3s;
}
.section__text1 {
	font-size: 3rem;
	font-family: MavenPro_Medium;
	margin-top: 8rem;
}
.section__text2 {
	margin-top: 0.3rem;
	font-family: Yoon_Gothic_740;
}
.section__figure {
	margin-top: 8%;
}

.section__figure img {
	width: auto;
	height: 40px;
	margin-left: 25px;
	cursor: pointer;
}

.section__input__border {
	border: 0.1rem solid makerWhite;
	margin-top: 0.6rem;
}
.section__input__border__inputEmail {
	background-color: rgba(255, 255, 255, 0.21);
	border: 0;
	width: 15rem;
	height: 2.5rem;
}
.section__input__border__inputEmail:focus {
	outline: none;
}
.section__input__border__inputEmail::placeholder {
	padding-left: 33%;
	color: makerWhite;
	font-family: Yoon_Gothic_740;
}
.section__input__border__inputEmail:focus::placeholder {
	color: transparent;
}
.section__input__border__inputPW {
	background-color: rgba(255, 255, 255, 0.21);
	border: 0;
	width: 15rem;
	height: 2.5rem;
}
.section__input__border__inputPW:focus {
	outline: none;
}
.section__input__border__inputPW::placeholder {
	padding-left: 38%;
	color: makerWhite;
	font-family: Yoon_Gothic_740;
}
.section__input__border__inputPW:focus::placeholder {
	color: transparent;
}
.section__submit {
	background-color: makerBlack;
	width: 15.2rem;
	height: 2.5rem;
	color: makerWhite;
	border: 0;
	margin-top: 0.51rem;
	cursor: pointer;
	font-family: Yoon_Gothic_770;
}

.section__login__register {
	display: flex;
	margin-top: 5%;
	width: 20rem;
	justify-content: center;
}
.section__login__register__text1 {
	font-size: 1rem;
	margin: 0;
	margin-right: 1%;
	font-size: 0.8rem;
	font-family: Yoon_Gothic_750;
}
.section__login__register__text2 {
	font-size: 1rem;
	margin-left: 0.3rem;
	margin-top: 0.1rem;
	cursor: pointer;
	text-decoration: underline;
	color: makerDarkRed;
	font-size: 0.8rem;
	font-family: Yoon_Gothic_750;
}

/**=========================register============================================*/
.containerRegister {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	background-color: makerGreen;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	margin-top: 0.5rem;
	border-top: 0.1rem solid makerWhite;
}

.container__register {
	height: 100%;
	width: 53%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: makerGreen;
	transition: 0.5s;
	border-top-left-radius: 10%;
	margin-top: 0.5rem;
	border-top: 0.1rem solid makerWhite;
	border-left: 0.1rem solid makerWhite;
}
.close {
	display: flex;
	justify-content: flex-end;
	color: makerWhite;
	margin-right: 20px;
	margin-top: 10px;
	font-family: MavenPro_Medium;
	cursor: pointer;
	transition: 0.3s;
}
.sectionRegister {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	color: makerWhite;
	transition: 0.3s;
}
.sectionRegister div:nth-child(1) {
	font-size: 3rem;
	font-family: MavenPro_Medium;
	margin-top: 8rem;
}
.sectionRegister div:nth-child(2) {
	margin-top: 0.3rem;
	font-family: Yoon_Gothic_740;
}
.sectionRegister div:nth-child(3) {
	margin-top: 3rem;
	border: 0.1rem solid makerWhite;
}
.sectionRegister__email {
	background-color: rgba(255, 255, 255, 0.21);
	border: 0;
	width: 15rem;
	height: 2.5rem;
}

.sectionRegister__email:focus {
	outline: none;
}
.sectionRegister__email::placeholder {
	padding-left: 33%;
	color: makerWhite;
	font-family: Yoon_Gothic_740;
}
.sectionRegister__email:focus::placeholder {
	color: transparent;
}

.sectionRegister div:nth-child(4) {
	margin-top: 0.6rem;
	border: 0.1rem solid makerWhite;
}
.sectionRegister__nickname {
	background-color: rgba(255, 255, 255, 0.21);
	border: 0;
	width: 15rem;
	height: 2.5rem;
}
.sectionRegister__nickname:focus {
	outline: none;
}
.sectionRegister__nickname::placeholder {
	padding-left: 33%;
	color: makerWhite;
	font-family: Yoon_Gothic_740;
}
.sectionRegister__nickname:focus::placeholder {
	color: transparent;
}

.sectionRegister div:nth-child(5) {
	margin-top: 0.6rem;
	border: 0.1rem solid makerWhite;
}
.sectionRegister__password {
	background-color: rgba(255, 255, 255, 0.21);
	border: 0;
	width: 15rem;
	height: 2.5rem;
}
.sectionRegister__password:focus {
	outline: none;
}
.sectionRegister__password::placeholder {
	padding-left: 33%;
	color: makerWhite;
	font-family: Yoon_Gothic_740;
}
.sectionRegister__password:focus::placeholder {
	color: transparent;
}

.sectionRegister div:nth-child(6) {
	margin-top: 0.6rem;
	border: 0.1rem solid makerWhite;
}
.sectionRegister__pwCheck {
	background-color: rgba(255, 255, 255, 0.21);
	border: 0;
	width: 15rem;
	height: 2.5rem;
}
.sectionRegister__pwCheck:focus {
	outline: none;
}
.sectionRegister__pwCheck::placeholder {
	padding-left: 33%;
	color: makerWhite;
	font-family: Yoon_Gothic_740;
}
.sectionRegister__pwCheck:focus::placeholder {
	color: transparent;
}
.sectionRegister__register {
	background-color: makerBlack;
	width: 15.2rem;
	height: 2.5rem;
	color: makerWhite;
	border: 0;
	margin-top: 0.51rem;
	cursor: pointer;
	font-family: Yoon_Gothic_770;
}
